@model Mvc.Models.mvcEpttModel



@{
    ViewBag.Title = "EpttDetails";
}


<div class="form-body">
    @using (Html.BeginForm())
    {
    <div class="row ">
        <div class="col-md-12" id="btnBarkodLogo">
            <p class="alert bg-light-info">
                @Html.DisplayFor(model => model.barkod, new { htmlAttributes = new { @class = "form-control" } })
            </p>
        </div>
        <a href="/urunler/epttlist" class="btn btn-outline-warning" id="btnGeri">
            <i class="ki ki-bold-wide-arrow-back"></i>
            Geri
        </a>
        <button type="button" class="btn btn-outline-primary" id="btnDuzenle" data-toggle="modal" data-target="#EpttDetailDuzenle">
            <i class="ki ki-gear"></i>
            Düzenle
        </button>
    </div>

        @Html.HiddenFor(model => model.Id)
     
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group mt-15">

    <div class="row">
        <div class="col-xl-12">
            <!--begin::Engage Widget 14-->
            <div class="card card-custom wave wave-animate wave-success mb-8 mb-lg-0 card-stretch gutter-b">
                <div class="card-body p-15 pb-20">
                    <div class="row mb-17">
                        <div class="col-xxl-5 mb-11 mb-xxl-0">
                            <!--begin::Image-->
                            <div class="card card-custom card-stretch">
                                <div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center" style="background-color: #fff;">
                                    @if (Model.resim == null || Model.resim == "")
                                    {

                                        <img src="~/assets/img/gorselYok.png" class="mw-100 w-200px" style="transform: scale(1.3);">
                                    }
                                    else
                                    {

                                        <img src="@Html.DisplayFor(model => model.resim)" class="mw-100 w-200px" style="transform: scale(1.3);">
                                    }
                                </div>
                            </div>
                            <!--end::Image-->
                        </div>
                        <div class="col-xxl-7 pl-xxl-11">
                            <h2 class="font-weight-bolder text-dark mb-7" style="font-size: 32px;">  @Html.DisplayFor(model => model.Tag)</h2>
                             <div class="font-size-h2 mb-7 text-dark-50">
                                 <span class="text-info font-weight-boldest ml-2">
                                     @Html.DisplayFor(model => model.KDVli) ₺<br />
                                     <span class="label label-inline label-md label-info">PanoHas :@Html.DisplayFor(model => model.panoHas)₺</span>
                                     <span class="label label-inline label-md label-info">Milyem :@Html.DisplayFor(model => model.milyem)₺</span>
                                     <span class="label label-inline label-md label-info">Komisyon :@Html.DisplayFor(model => model.komisyon)₺</span>
                                     <span class="label label-inline label-md label-info">Gün :@Html.DisplayFor(model => model.gun)₺</span>
                                     <span class="label label-inline label-md label-info">Gram :@Html.DisplayFor(model => model.gram)₺</span>
                                     <span class="label label-inline label-md label-info">Yüzde :@Html.DisplayFor(model => model.yuzde)%</span>
                                 </span>
                            </div>
                            <div class="line-height-xl">

                                @Html.Raw(Model.UzunAciklama)
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <!--begin::Info-->
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Garanti Veren Firma</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.GarantiVerenFirma)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Garanti Süresi</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.garantiSure)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Fiyat</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.fiyat) ₺</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Kategori</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.kategori)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Alt Kategori</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.altKategoriAdi)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Barkod</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.barkod)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Ürün Adı</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.UrunAdi)</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="mb-8 d-flex flex-column">
                                <span class="text-dark font-weight-bold mb-4">Miktar</span>
                                <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.adet)</span>
                            </div>
                        </div>
                      
                        <!--end::Info-->
                    </div>
                    <!--begin::Buttons-->
                    <!--end::Buttons-->
                </div>
            </div>
            <div class="d-flex">

                <p class="alert text-center alert-primary float-right font-weight-bolder w-100 px-8 font-size-sm">
                    Son Güncelleme Tarihi : @Html.DisplayFor(model => model.upTime)
                </p>
            </div>
            <!--end::Engage Widget 14-->
        </div>
    </div>

</div>













    }
</div>
<style>
    #btnBarkodLogo {
        display: flex;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
    }

        #btnBarkodLogo p {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    #btnGeri {
        position: absolute;
        top: 0;
        margin-top: 8px;
        left: 0;
        left: 14px;
    }

    #btnDuzenle {
        position: absolute;
        top: 0;
        margin-top: 8px;
        right: 0;
        margin-right: 14px;
    }
</style>
<script>
    //fetch('http://localhost:44308/api/urunbilgi')
    //    .then(resp => res.json())
    //    .then(response => {
    //        console.log(response)
    //    })
    //    .catch(err => {
    //        console.log(err.message)
    //    })
</script>

<div class="modal fade" id="EpttDetailDuzenle">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title center-block" id="modalTitle">E-PTT Ürün Düzenle</h3>
            </div>
            <div class="modal-body">

                <form method="post">
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="row">
                           
                            <div class="col-md-3">
                                <label class="text-dark-50">Aktif</label>
                                @Html.EditorFor(model => model.aktif, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Kategori</label>
                                @Html.EditorFor(model => model.kategori, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Ana Kategori ID</label>
                                @Html.EditorFor(model => model.anaKategoriId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-dark-50">Açıklama</label>
                                @Html.TextAreaFor(model => model.aciklama, new { @class = "form-control w-100", @style = "height:150px" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Alt Kategori Adı</label>
                                @Html.EditorFor(model => model.altKategoriAdi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Alt Kategori ID</label>
                                @Html.EditorFor(model => model.altKategoriId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Barkod</label>
                                @Html.EditorFor(model => model.barkod, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Boy X</label>
                                @Html.EditorFor(model => model.boyX, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Boy Y</label>
                                @Html.EditorFor(model => model.boyY, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Boy Z</label>
                                @Html.EditorFor(model => model.boyZ, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Desi</label>
                                @Html.EditorFor(model => model.desi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Durun</label>
                                @Html.EditorFor(model => model.durum, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Garanti Süre</label>
                                @Html.EditorFor(model => model.garantiSure, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Garanti Veren Firma</label>
                                @Html.EditorFor(model => model.GarantiVerenFirma, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">İskonto</label>
                                @Html.EditorFor(model => model.Iskonto, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Kdv Oran</label>
                                @Html.EditorFor(model => model.KDVOran, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Kdv li</label>
                                @Html.EditorFor(model => model.KDVli, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Kdv siz</label>
                                @Html.EditorFor(model => model.KDVsiz, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Kategori Bilgisi Güncelle</label>
                                @Html.EditorFor(model => model.KategoriBilgisiGuncelle, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Mevcut</label>
                                @Html.EditorFor(model => model.Mevcut, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Miktar</label>
                                @Html.EditorFor(model => model.adet, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Shop ID</label>
                                @Html.EditorFor(model => model.ShopId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Tag</label>
                                @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Tedarikçi Alt Kategori Adı</label>
                                @Html.EditorFor(model => model.TedarikciAltKategoriAdi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Tedarikçi Alt Kategori ID</label>
                                @Html.EditorFor(model => model.TedarikciAltKategoriId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Tedarikçi Sanal Kategori ID</label>
                                @Html.EditorFor(model => model.TedarikciSanalKategoriId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Ürün Adı</label>
                                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Ürün ID</label>
                                @Html.EditorFor(model => model.UrunId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">

                                <label class="text-dark-50">Ad Durum</label>
                                @Html.EditorFor(model => model.adurum, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Ürün Resimleri</label>
                                @Html.EditorFor(model => model.resim, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">İskonto</label>
                                @Html.EditorFor(model => model.Iskonto, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Up Time</label>
                                @Html.EditorFor(model => model.upTime, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-dark-50">Uzun Açıklama</label>
                              @Html.TextAreaFor(model => model.UzunAciklama, new { @class = "form-control w-100", @style = "height:150px" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Yeni Kategori ID</label>
                                @Html.EditorFor(model => model.YeniKategoriId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Up Fiyat Tarih</label>
                                @Html.EditorFor(model => model.upFiyatTarih, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Milyem</label>
                                @Html.EditorFor(model => model.milyem, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Komisyon</label>
                                @Html.EditorFor(model => model.komisyon, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-info" data-dismiss="modal">İptal</a>
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>