@model Mvc.Models.mvcN11Model



@{
    ViewBag.Title = "N11Details";
}


<div class="form-body">
    @using (Html.BeginForm())
    {
        <div class="row ">
            <div class="col-md-12" id="btnBarkodLogo">
                <p class="alert bg-light-info">
                    @Html.DisplayFor(model => model.barkod, new { htmlAttributes = new { @class = "form-control" } })
                </p>
            </div>
            <a href="/urunler/n11list" class="btn btn-outline-warning" id="btnGeri">
                <i class="ki ki-bold-wide-arrow-back"></i>
                Geri
            </a>
            <button type="button" class="btn btn-outline-primary" id="btnDuzenle" data-toggle="modal" data-target="#N11DetailDuzenle">
                <i class="ki ki-gear"></i>
                Düzenle
            </button>
        </div>

        @Html.HiddenFor(model => model.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mt-15">




            <div class="row">
                <div class="col-xl-12">
                    <!--begin::Engage Widget 14-->
                    <div class="card card-custom wave wave-animate wave-success mb-8 mb-lg-0 card-stretch gutter-b">
                        <div class="card-body p-15 pb-20">
                            <div class="row mb-17">
                                <div class="col-xxl-5 mb-11 mb-xxl-0">
                                    <!--begin::Image-->
                                    <div class="card card-custom card-stretch">
                                        <div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center" style="background-color: #fff;">
                                            @if (Model.resim == null || Model.resim == "")
                                            {
                                               
                                                <img src="~/assets/img/gorselYok.png" class="mw-100 w-200px" style="transform: scale(1.3);">
                                            }
                                            else
                                            {

                                                <img src="@Html.DisplayFor(model => model.resim)" class="mw-100 w-200px" style="transform: scale(1.3);">
                                            }

                                        </div>
                                    </div>
                                    <!--end::Image-->
                                </div>
                                <div class="col-xxl-7 pl-xxl-11">
                                    <h2 class="font-weight-bolder text-dark mb-7" style="font-size: 32px;">  @Html.DisplayFor(model => model.title)</h2>
                                    <h4>@Html.DisplayFor(model => model.subtitle)</h4>
                                    <div class="font-size-h2 mb-7 text-dark-50">
                                        <span class="text-info font-weight-boldest ml-2">
                                            @Html.DisplayFor(model => model.price) ₺ <br />
                                            <span class="label label-inline label-md label-info">Milyem :@Html.DisplayFor(model => model.milyem)₺</span>
                                            <span class="label label-inline label-md label-info">Komisyon :@Html.DisplayFor(model => model.komisyon)₺</span>
                                            <span class="label label-inline label-md label-info">Gün :@Html.DisplayFor(model => model.gun)₺</span>
                                            <span class="label label-inline label-md label-info">Gram :@Html.DisplayFor(model => model.gram)₺</span>
                                            <span class="label label-inline label-md label-info">Yüzde :@Html.DisplayFor(model => model.yuzde)%</span>
                                        </span>
                                    </div>
                                    <div class="line-height-xl">

                                        @Html.Raw(Model.description);
                                        @*@Html.DisplayFor(model => model.description);*@
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <!--begin::Info-->
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Urun Adı</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.urunadi)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Ayar</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.attribute)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Option Price</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.optionPrice) ₺</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Quantity</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.adet)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Seller Stock Code</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.sellerStockCode)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Güncel Fiyat Tarihi</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.upFiyatTarih)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Sale Start Date</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.saleStartDate)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">Sale End Date</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.saleEndDate)</span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mb-8 d-flex flex-column">
                                        <span class="text-dark font-weight-bold mb-4">N11 ID</span>
                                        <span class="text-muted font-weight-bolder font-size-lg">@Html.DisplayFor(model => model.n11Id)</span>
                                    </div>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--begin::Buttons-->
                            <!--end::Buttons-->
                        </div>
                    </div>
                    <div class="d-flex">

                        <p class="alert text-center alert-primary float-right font-weight-bolder w-100 px-8 font-size-sm">
                            Son Güncelleme Tarihi : @Html.DisplayFor(model => model.ktarih)
                        </p>
                    </div>
                    <!--end::Engage Widget 14-->
                </div>
            </div>


        </div>













    }
</div>

<script>
    //fetch('http://localhost:44308/api/urunbilgi')
    //    .then(resp => res.json())
    //    .then(response => {
    //        console.log(response)
    //    })
    //    .catch(err => {
    //        console.log(err.message)
    //    })
</script>

<style>
    #btnBarkodLogo {
        display: flex;
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
    }

        #btnBarkodLogo p {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    #btnGeri {
        position: absolute;
        top: 0;
        margin-top: 8px;
        left: 0;
        left: 14px;
    }

    #btnDuzenle {
        position: absolute;
        top: 0;
        margin-top: 8px;
        right: 0;
        margin-right: 14px;
    }
</style>
<div class="modal fade" id="N11DetailDuzenle">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title center-block" id="modalTitle">N11 Ürün Düzenle</h3>
            </div>
            <div class="modal-body">

                <form method="post">
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">K Tarih</label>
                                @Html.EditorFor(model => model.ktarih, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Durum</label>
                                @Html.EditorFor(model => model.durum, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Barkod</label>
                                @Html.EditorFor(model => model.barkod, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Ayar</label>
                                @Html.EditorFor(model => model.ayar, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-dark-50">Açıklama</label>
                                @Html.TextAreaFor(model => model.description, new { @class = "form-control w-100", @style = "height:150px" })
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="text-dark-50">Ürün Adı</label>
                                @Html.EditorFor(model => model.urunadi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                       
                            <div class="col-md-3">
                                <label class="text-dark-50">N11 ID</label>
                                @Html.EditorFor(model => model.n11Id, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Product Seller Code</label>
                                @Html.EditorFor(model => model.productSellerCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Title</label>
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Subtitle</label>
                                @Html.EditorFor(model => model.subtitle, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Attribute</label>
                                @Html.EditorFor(model => model.attribute, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Idx</label>
                                @Html.EditorFor(model => model.idx, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Price</label>
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Currency Type</label>
                                @Html.EditorFor(model => model.currencyType, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">İmage</label>
                                @Html.EditorFor(model => model.resim, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">İmage Order</label>
                                @Html.EditorFor(model => model.image_order, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Sale Start Date</label>
                                @Html.EditorFor(model => model.saleStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Sale End Date</label>
                                @Html.EditorFor(model => model.saleEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Production Date</label>
                                @Html.EditorFor(model => model.productionDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Expiration Date</label>
                                @Html.EditorFor(model => model.expirationDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Product Condition</label>
                                @Html.EditorFor(model => model.productCondition, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Preparing Day</label>
                                @Html.EditorFor(model => model.preparingDay, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Discount</label>
                                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Shipment Template</label>
                                @Html.EditorFor(model => model.shipmentTemplate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Quantity</label>
                                @Html.EditorFor(model => model.adet, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Seller Stock Code</label>
                                @Html.EditorFor(model => model.sellerStockCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Attribute Name</label>
                                @Html.EditorFor(model => model.attribute_name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Attribute Value</label>
                                @Html.EditorFor(model => model.attribute_value, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Option Price</label>
                                @Html.EditorFor(model => model.optionPrice, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="col-md-3">
                                <label class="text-dark-50">Bundle</label>
                                @Html.EditorFor(model => model.bundle, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Mpn</label>
                                @Html.EditorFor(model => model.mpn, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Gtin</label>
                                @Html.EditorFor(model => model.gtin, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark-50">Special Product Inf Key</label>
                                @Html.EditorFor(model => model.specialProductInf_key, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Special Product Inf Value</label>
                                @Html.EditorFor(model => model.specialProductInf_value, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Up Fiyat Tarih</label>
                                @Html.EditorFor(model => model.upFiyatTarih, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark-50">Milyem</label>
                                @Html.EditorFor(model => model.milyem, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                  
                            <div class="col-md-3">
                                <label class="text-dark-50">Komisyon</label>
                                @Html.EditorFor(model => model.komisyon, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                         
                         
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-info" data-dismiss="modal">İptal</a>
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>